<ion-header>
  <ion-toolbar class="azul">
    <ion-title>Reserva de Horas de Revisión Técnica</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon color="light" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h3 class="subtitulo encabezado">Por favor seleccione la planta</h3>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Región</ion-label>
      <ion-select [(ngModel)]="selectedRegion" (ionChange)="loadSucursales()">
        <ion-select-option *ngFor="let region of regiones" [value]="region.ID_REGION">{{ region.REGION }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sucursal</ion-label>
      <ion-select [(ngModel)]="selectedSucursal">
        <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.ID_SUCURSAL">{{ sucursal.SUCURSAL }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <h3 class="subtitulo encabezado">Fechas disponibles</h3>
  <ion-datetime [(ngModel)]="selectedDate" display-format="DD/MM/YYYY" (ionChange)="loadAvailableTimes()"></ion-datetime>

  <h3 class="subtitulo encabezado">Horarios disponibles para el día {{ selectedDate | date: 'dd-MM-yyyy' }}:</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let time of availableTimes">
        <ion-button fill="outline" color="dark"
          [class.button-booked]="time.BOOKED" 
          [class.button-available]="!time.BOOKED" 
          [class.button-selected]="selectedTimeSlot && selectedTimeSlot.HORA === time.HORA" 
          [disabled]="time.BOOKED" 
          (click)="selectTime(time)">
          {{ time.HORA }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 class="subtitulo encabezado">Ingresar datos del vehículo</h3>

  <ion-item>
    <ion-label position="stacked">Patente</ion-label>
    <ion-select [(ngModel)]="selectedPatente" (ionChange)="loadVehicleData()">
      <ion-select-option *ngFor="let patente of patentes" [value]="patente.PATENTE">{{ patente.PATENTE }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">Marca</ion-label>
    <ion-input type="text" id="marca" class="form-control" [(ngModel)]="selectedMarca" readonly></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label class="normal" position="floating">Modelo</ion-label>
    <ion-input type="text" id="modelo" class="form-control" [(ngModel)]="selectedModelo" readonly></ion-input>
  </ion-item>   

  <ion-item>
    <ion-label class="normal" position="floating">Año</ion-label>
    <ion-input type="text" id="anio" class="form-control" [(ngModel)]="selectedAnio" readonly></ion-input>
  </ion-item> 

  <ion-button expand="block" (click)="reservar()">Reservar</ion-button>
</ion-content>
