ion-datetime {
    --background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --color: #000; /* Ajusta el color del texto según sea necesario */
  }
  
  ion-datetime .datetime-text {
    --background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --color: #000; /* Ajusta el color del texto según sea necesario */
  }
  
  ion-datetime .datetime-selected {
    --background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --color: #000; /* Ajusta el color del texto según sea necesario */
  }
  