<ion-header>
  <ion-toolbar class="azul">
    <ion-title>Certitech</ion-title>
    <ion-buttons slot="start">
      <ion-button> 
        <ion-icon color="light" slot="icon-only" name="car-sport-outline"></ion-icon>        
      </ion-button>      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon color="light" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h3 class="subtitulo encabezado">Información del vehículo</h3>
  <ion-item>
    <ion-label position="floating">Buscar por Patente</ion-label>
    <ion-input [(ngModel)]="PATENTE"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="errorPatente">{{ errorMessage }}</ion-text>

  <ion-button expand="full" (click)="buscarVehiculos()">Buscar</ion-button>
  
  <ion-list>      
    <ion-item *ngFor="let vehiculo of vehiculos">      
      <ion-list>        
        <ion-item>
          Patente: {{ vehiculo.PATENTE }}
        </ion-item>
        <ion-item>
          Motor: {{vehiculo.MOTOR}}
        </ion-item>
        <ion-item>
          Chasis: {{vehiculo.CHASIS}}
        </ion-item>
        <ion-item>
          Kilometraje: {{vehiculo.KILOMETRAJE}}
        </ion-item>
        <ion-item>
          Marca: {{vehiculo.VEH_MARCA}}
        </ion-item>
        <ion-item>
          Modelo: {{vehiculo.VEH_MODELO}}
        </ion-item>
        <ion-item>
          Color: {{vehiculo.VEH_COLOR}}
        </ion-item>
        <ion-item>
          Año: {{vehiculo.VEH_ANIO}}
        </ion-item>
        <ion-item *ngIf="vehiculo.RESULTADO_INSPECCION; else noInspeccion">
          <strong>Resultado de Inspección: </strong> {{ vehiculo.RESULTADO_INSPECCION }}
        </ion-item>
        <ng-template #noInspeccion>
          <ion-item><strong>Inspección:</strong> No tiene inspección.</ion-item>
        </ng-template>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
