<ion-header [translucent]="true">
  <ion-toolbar class="azul">
    <ion-title>CertiTech</ion-title>
    <ion-buttons slot="start">
      <ion-button> 
        <ion-icon color="light" slot="icon-only" name="car-sport-outline"></ion-icon>        
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>   
</ion-header>



<ion-content class="background">
  <ion-img src="assets/images/portada.jpg"></ion-img>
  <ion-button routerLink="/cliente" class="ion-margin-top azul" expand="block">Clientes</ion-button>
  <ion-button routerLink="/login-usuario" class="ion-margin-top azul" expand="block">Usuarios</ion-button>
</ion-content>

