.foto{
    border: 1px solid #c5c8cb;
    margin: 10px;
    width: 60%;
    border-radius: 20px;
    margin: auto;
}

.encabezado{
    background: #08286c;
    border-radius: 40px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.guardar{
    margin: 30px;
}

.nuevo{
    text-align: end;
    margin: 10px;
}

